.base{
    margin-left: 10%;
    margin-right: 10%;
    position:relative;
    background-color: green;
}
.qwerty{
    margin-top: 5%;
    max-width: 30%;
    overflow: hidden;
    background-color: brown;
}
.qwertyForm{
    background-color:darkorange;
}
.gone{
    margin-left: 50pt;
    max-width: 40%;
    display: inline-block;
    position: absolute;
    background-color: brown;
}
.isix{
    margin-right: 10pt;
    margin-left: 400pt;
    max-width: 10%;
    display: inline-block;
    position:relative;
    background-color:brown;
}
.lyric{
    max-width: 30%;
    background-color: brown;
    margin-left: 2%;
    display: inline-block;
}
.insertText{
    margin: 5%;
    background-color: brown;
}
.count{
    background-color: brown;
    margin: 2%;
    max-width: 40%;
}
.nightcore{
    background-color: brown;
    margin: 2%;
    max-width: 30%;
}
.nightcoreLeft{
    margin-left: 50pt;
    display: inline-block;
}
.nightcoreRight{
    margin-left: 200pt;
    display: inline-block;
}
.whatsNext{
    max-width: 40%;
    background-color: brown;
    margin-left: 2%;
    display: inline-block;
    
}
.whatsNextImage{
    margin: 5px;
}
.help{
    max-width: 50%;
    background-color: brown;
    margin-left: 2%;
}
.isixInside{
    background-color: aqua;
    margin: 5px;
}
.lyricInside{
    background-color: aqua;
    margin: 5px;
}
.insertTextInside{
    background-color: aqua;
    margin: 5px;
    display: inline-block;
}
.whatsNextLeft{
    margin-right: 30%;
}
.whatsNextInside{
    background-color: aqua;
    margin: 5px;
}
.text{
    max-width: 45%;
    width: 100%;
    background-color: brown;
    margin: 2%;
    display: inline-block;
}
.textInside{
    background-color: aqua;
    margin: 5px;
}
.textOutside{
    max-width: 90%;
    width: 100%;
    background-color: brown;
    margin: 2%;
}
.footer{
    background-color: brown;
    margin: 5px;
    width: 99%;
}
.footerInside{
    display: inline-block;
    background-color: aqua;
    margin: 5px;
    width: 23%;
}