@import "./global.css";
@import "./fonts.css";
@import "./utils.css";

.test {
    color: yellow !important;
}

.test {
    color: red !important;
}

p {
    font-size: 16px;
    line-height: 26px;
    color: #1F3F68;
    font-family: "Better";
}

h1 {
    font-size: 64px;
    color: #1F3F68;
    font-family: "Better";
}

h2 {
    font-weight: 500;
    font-size: 44px;
    text-align: center;
}

.h3 {
    font-size: 36px;
    text-align: center;
}

.h4 {
    font-size: 20px;
    line-height: 30px;
    color: #1F3F68;
}

.inputTextarea {
    border: 1px solid #356EAD;
    box-sizing: border-box;
    border-radius: 10px;
    opacity: 0.4;
}

.submit {
    background: #5A98D0;
    background: linear-gradient(90deg, rgba(0, 22, 255, 1) 1%, rgba(154, 0, 242, 1) 74%);
    box-shadow: 5px 20px 50px rgba(16, 112, 177, 0.2);
    border-radius: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
}

form {
    background-image: url(VYyy2o_eBbY.jpg);
}

menu.breadcrumb {
    padding: 10px 16px;
    list-style: none;
    
    background: rgb(98,154,155);
    background: linear-gradient(rgba(198,254,255,1) 0%, rgba(98,154,155,1)  68%);
}

menu.breadcrumb li {
    display: inline;
    padding-right: 10px;
    margin-left: 10px;
    border-right: 3px solid black;    
    border-radius: 0px 30px 30px 0px;
    box-shadow: 3px 0px black;
}

menu.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    
}

menu.breadcrumb li a {
    color: #000;
    text-decoration: none;
}